<%= form_for @picture, :html => {:multipart => true} do |f| %> 

	<%= hidden_field_tag :gallery_id, @gallery_id.to_i %>
	<p>
		<%= f.label :title %> 
		<%= f.text_field :title %> 
	</p>
	<p>
		<%= f.label :description %> 
		<%= f.text_field :description %> 
	</p>
	<p>
		<%= f.file_field :image %> 
	</p>
	<p><%= f.submit %></p>
<% end %> 