<%= form_for @picture, :html => {:multipart => true} do |f| %> 

	<%= f.text_field :gallery_id, {:value => params[:gallery_id], :type => 'hidden' }%> 
	<p>
		<%= f.label :title %> 
		<%= f.text_field :title %> 
	</p>
	<p>
		<%= f.label :description %> 
		<%= f.text_field :description %> 
	</p>
	<p>
		<%= f.file_field :image %> 
	</p>

	<p>
		<%= f.label :remote_image_url, 'or image URL' %> 
		<%= f.text_field :remote_image_url %> 
	</p>
	<p><%= f.submit %></p>
<% end %> 