<%= @gallery.title %> 

<div id="picture">
	<% @gallery.pictures.each do |picture| %>
		<div class="picture">
			<%= image_tag picture.image.to_s %> 
		</div> 
		<div class="title"><%= picture.title %></div>
		<div class="actions">
			<%= link_to 'edit', pictures_update_path(picture) %> 
			<%= form_for picture, url: {controller: 'pictures', action: 'delete'} do |f| %> 
				<%= f.hidden_field :id %> 
				<%= f.hidden_field :gallery_id %> 
				<%= f.submit 'delete' %>
			<% end %>
		</div>
</div>
<% end %> 

<p>
	<%= link_to 'Add a picture', pictures_new_path(:gallery_id => @gallery) %> 
	<%= link_to 'view galleries', galleries_path %> 
</p>